# --- Python / Virtual Environment ---
venv/
env/
.env
*.pyc
__pycache__/
.python-version

# --- Django Specific ---
db.sqlite3

# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs and OS ---
*.log
.DS_Store
Thumbs.db